* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  height: 100%;
}

.main-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-image-and-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .top-image-and-info-container {
    flex-direction: row;
  }
}

@media (min-width: 1366px) {
  .top-image-and-info-container {
  }
}

.top-image-container {
  background-color: purple;
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.28);
}

@media (min-width: 768px) {
  .top-image-container {
    box-shadow: none;
    margin-bottom: auto;
    padding: 0px 40px;
  }
}

.mike-head-shot-1 {
  transform: translateY(50px);
  box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.28);
}

@media (min-width: 768px) {
  .mike-head-shot-1 {
  }
}

.name {
  margin-top: 80px;
  font-size: xxx-large;
}

@media (min-width: 768px) {
  .name {
    color: white;
    background-color: purple;
    padding: 20px;
  }
}

.about-me-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .about-me-info {
    box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.28);
  }
}

@media (min-width: 768px) {
  .about-me-header-and-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-me-header {
  padding: 30px 0px 20px;
  font-size: xx-large;
}

.about-me-blurb {
  width: 75%;
  font-size: x-large;
}

.about-me-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0px;
}

@media (min-width: 768px) {
  .about-me-icons {
    visibility: hidden;
  }
}

.two-image-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.projects-header {
  padding: 30px 0px 20px;
  margin-right: auto;
  margin-left: 60px;
  font-size: xx-large;
}

@media (min-width: 768px) {
  .two-projects-outer-container {
    display: flex;
    align-items: center;
  }
}
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px 40px;
}

@media (min-width: 768px) {
  .project-container {
    width: 50%;
  }
}

.screenshot {
  border: 0.5px solid black;
}

.project-info {
  border-top: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 30px;
  box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.28);
}

.project-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.project-name {
  font-size: x-large;
  padding-top: 5px;
}

.project-icons {
  display: flex;
}

.left-project-icon {
  width: 60%;
  margin-top: 3px;
}

.project-blurb {
  width: 80%;
}

@media (min-width: 768px) {
  .contact-me-and-head-shot-2 {
    display: flex;
    background-color: purple;
  }
}

.contact-me-container {
  background-color: purple;
  color: white;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-me-container {
    display: flex;
    flex-direction: column;
  }
}

.contact-me-header {
  font-size: x-large;
  padding: 40px 40px 0px 40px;
}

.contact-me-info {
  margin: 40px;
}

@media (min-width: 768px) {
  .mike-head-shot-2 {
    align-self: center;
    margin: 40px;
  }
}

.contact-me-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 0px 40px;
}

@media (min-width: 768px) {
  .contact-me-icons {
    justify-content: left;
    margin: 20px 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
